body {
    background-color: rgb(192, 236, 240);
    margin-top: 0.5in;
    margin-bottom: 0.5in;
    margin-left: 1in;   
    margin-right: 1in;
}

h1 {
    color: #187780;
    font-size: 10em;
    margin: auto
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    text-align: center;
    margin: auto;
}
h3 {
    text-align: center;
    margin: auto;
}
/* Pseudo-class selector */
button:hover {
    color: red;
    font-size: 2ex;
    background-color: white;
    border-radius: 5px;
}
summary:active {
    background-color:#187780;
}

hr {
    border-width: 0.6em;
    border-bottom: inherit;
    border-style:dotted;
    border-color: #187780;
    margin: 30px 0px 30px 0px
}

fieldset {
    margin: 30px 0px 30px 0px;
    border-radius: 0.8cm;
    border: none;
    background-color:hsl(186, 62%, 77%);
    padding: 0.6cm 1cm 0.6cm 1cm;
}
/* Selector List */
img, video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ID selector */
#fun {
    background-color: lawngreen;
}
/* General sibling combinator */
div ~ hr {
    border-color: grey;
}
/* Adjacent sibling combinator */
li:first-of-type + li {
    color: red;
}
/* Attribute selector */
input[type=text]:focus {
    background-color: rgba(255, 255, 255, 0.8);
}
/* combining 2 selectors */
#content.input-border:focus {
    background-color:  rgba(255, 255, 255, 0.8);
}
.menu {
    list-style-type: none;
    text-align:left;
}
/* Descendant combinator */
.menu li {
    display: inline-block;
    padding: 5px;
}

.input-border {
    border-radius: 5px;
    border-width: 1px;
}


.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color:hsl(186, 62%, 77%);
    padding-top: 0.2cm;
    padding-bottom: 0.3cm;
    padding-left: 1cm;
    padding-right: 1cm;
    border-radius: 0.8cm;
}

/* general padding class */
/* Universal Selector */
*.pad {
    padding: 20px 0px 20px 0px;
}

/* define 'flexbox' layout */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
.flex-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto;
    padding: 7px;
    border-radius: 0.8cm;
    font-size: 15px;
}

/* define 'grid' layout */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
  }
  
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.8cm;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
}

.itemgrid {
    place-self: center stretch;
}
